* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background:#f6f5f3 ;
    color: #111;
}
.app {
    display: flex;
    height: 100vh;
}

/* Sidebar */
.sidebar {
    width: 240px;
    background: #0e0e0e;
    color: #f5f5f5;
    padding: 40px 24px;
}

.logo {
    font-family: 'Playfair Display', serif;
    letter-spacing: 2px;
    margin-bottom: 40px;
}

.sidebar nav a {
    display: block;
    margin-bottom: 20px;
    font-size: 14px;
    color: #bdbdbd;
    cursor: pointer;
}

.sidebar nav a.active {
    color: #ffffff;
}

/* Feed */
.feed {
flex: 1;
padding: 40px;
max-width: 700px;
}

/* Stories */
.stories {
    display: flex;
    gap: 16px;
    margin-bottom: 40px;
}

.story {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: linear-gradient(135deg, #c9b37e, #1c1c1c);
}

/* Post */
.post {
    background: #ffffff;
    border-radius: 18px;
    padding: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.06);
}

.post-header {
    margin-bottom: 12px;
}

.username {
    font-weight: 500;
}

.post-image {
    height: 380px;
    border-radius: 14px;
    background: linear-gradient(120deg, #e6dfd3, #cfc6b8);
    margin-bottom: 16px;
}

.post-actions {
    font-size: 20px;
    letter-spacing: 6px;
    margin-bottom: 10px;
}

.caption {
    font-size: 13px;
    color: #333;
}